.wrapper {
  padding: 1rem 0;
}

.wrapper h1 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 32px;
  color: #baafb6;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}

.wrapper h2 {
  text-align: center;
  margin-bottom: 0.4rem;
}
