.message {
  text-align: center;
  padding: 10vh 20vw;
  font-size: 1.2rem;
  font-weight: 500;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1.2rem;
  transition: filter 1s;
}
