:root {
  --grey: #7b6477;
  --dark: #453d43;
  --light: #e8e8e8;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: "Oswald";
}

h2,
h3 {
  color: var(--dark) !important;
}

.ant-tabs {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.ant-tabs-content {
  flex-grow: 1;
}
